#search
  = render 'form'

  %h2== Results for '#{params[:term]}'
  %ul
    - @results.each do |val|
      %li
        %label== Family Name: #{val.name}
        %label Members:
        %ul
        - val.people.each do |person|
          %li= person.to_s
        %label Address:
