#search
  = render 'form'

  %h2== Results for '#{params[:term]}'
  %ul
    - @results.each do |val|
      %li
        %h4== Family Name: #{val.name}
        %strong Members:
        %ul
        - val.people.each do |person|
          %li= person.to_s
        %strong Address:
        %hr
