// Place all the styles related to the form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bourbon';

$white:   white;
$black:   black;
$first:   #0177BD;
$second:  #FFBB00;
$third:   #FF3D00;
$fourth:  #004D7B;
$error:  #500000;

#{$all-text-inputs}
{ border-radius: 3px; }

#{$all-text-inputs}
{ padding: 5px; }

#{$all-text-inputs}
{ margin: 1px 5px; }

#{$all-text-inputs}
{ color: $black; }

#{$all-text-inputs}
{
  @include placeholder
  { color: #333; }
}

#{$all-text-inputs-hover}
{ // Target the :hover pseudo-class
}

#{$all-text-inputs-focus}
{ // Target the :focus pseudo-class
  background: white;
}

button, input[type=submit] {
  @include button(simple);
}
